<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body ">

            <form (ngSubmit)="onSubmitLogin()" [formGroup]="loginForm">
              <div class="card-body ">
                <div class="row m-4">
                  <div class=" col-sm-12">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" formControlName="username" name="username"
                      id="username">
                    <span class="text-danger" *ngIf="f.username.touched && f.username.errors">Username is required</span>
                  </div>
                </div>
                <div class="row m-4">
                  <div class=" col-sm-12">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password"
                      name="password">
                    <span class="text-danger" *ngIf="f.password.touched && f.username.errors">Password is required</span>
                  </div>
                </div>
                <div class="row p-5">
                  <div class="col-sm-12 ">

                    <div class="row form-group">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </div>


              </div>


            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
