/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;

  background: linear-gradient(to top, #dbfdff 33%, #FFFFFF 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
